* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  background-color: #e2eaf5;
}

body {
  max-width: 1440px;
  margin: auto;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2.5rem;
  column-gap: 6.25rem;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-container > img {
  margin-right: 1.25rem;
}

.showcase-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2.5rem;
  margin-top: 3.75rem;
}

.showcase-container .showcase-text > h2:first-child {
  font-size: 3.125rem;
  font-weight: 700;
  color: #2a394f;
}

.showcase-container .showcase-text > h2:last-child {
  font-size: 5.125rem;
  font-weight: 700;
  color: #2a394f;
}

.showcase-container .showcase-text > p {
  color: #9aa0a8;
  margin-bottom: 15px;
  font-weight: 500;
}

/* Previsão por hora */

.hourly-forecast-container {
  border-radius: 2.5rem;
  padding: 2.5rem;
  background: linear-gradient(90.28deg, #007dfe 0.22%, #3aa2ff 99.76%);
  box-shadow: 0px 30px 50px -19px rgba(1, 126, 254, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hourly-forecast-container .hour-weather-item > img {
  width: 4.375rem;
  height: 4.375rem;
  margin-bottom: 0.625rem;
}

.hourly-forecast-container .hour-weather-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hourly-forecast-container .hour-weather-item > p:first-child {
  color: #fff;
  opacity: 55%;
  font-weight: 500;
}

.hourly-forecast-container .hour-weather-item > p:last-child {
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
}

/* Detalhes */

.weather-details-container {
  display: grid;
  grid-template-columns: repeat(4, 13.75rem);
  margin-top: 2.5rem;
  column-gap: 0.9375rem;
}

.weather-details-item {
  display: flex;
  flex-direction: column;
  border-radius: 2.5rem;
  padding: 1.875rem;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.weather-details-container .weather-details-item > p:first-child {
  color: #8f8f8f;
}

.weather-details-container .weather-details-item > div {
  display: flex;
  align-items: center;
}

.weather-details-container .weather-details-item > div > p {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2a394f;
  margin-left: 0.25rem;
}

.weather-details-container .weather-details-item > div > p > span {
  font-size: 0.75rem;
  margin-left: -0.3125rem;
}

.weather-details-container .weather-details-item > div > img {
  width: 2.1875rem;
  height: 2.1875rem;
}

/* Previsão semanal */

.weekly-forecast-container {
  background: #fff;
  border-radius: 2.5rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.weekly-forecast-container .day-weather-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weekly-forecast-container .day-weather-item > img {
  width: 3.75rem;
  height: 3.75rem;
}

.weekly-forecast-container .day-weather-item > p {
  font-weight: 500;
  color: #8f8f8f;
}

.weekly-forecast-container .day-weather-item > div {
  display: flex;
  align-items: center;
}

.weekly-forecast-container .day-weather-item > div > p:first-child {
  color: #2a394f;
  font-weight: 500;
  margin-right: 0.5rem;
}

.weekly-forecast-container .day-weather-item > div > p:last-child {
  color: #8f8f8f;
  font-weight: 500;
}

.weekly-forecast-container .day-weather-item > p,
.weekly-forecast-container .day-weather-item > img,
.weekly-forecast-container .day-weather-item > div {
  flex-grow: 1;
  flex-basis: 0;
}

/* Utilidades */

.custom-input {
  border: none;
  border-radius: 0.9375rem;
  background-color: #fdfffe;
  color: #232323;
  padding: 1rem;
  width: 100%;
}

.custom-input:focus {
  outline: 2px solid #3aa2ff;
}

.custom-input::placeholder {
  color: #b1b8c0;
}
